<a href="https://colab.research.google.com/github/Amirhatamian/Programming-Project/blob/main/PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
# creating netflix_movie dataframe
games_df = pd.read_csv('games_details.csv')
teams_df = pd.read_csv('teams.csv')

<ipython-input-28-52469dd69a3a>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_df = pd.read_csv('games_details.csv')

In [29]:
nba_df

,GAME_ID,TEAM_ID_x,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME_x,START_POSITION,COMMENT,MIN,...,ABBREVIATION,NICKNAME_y,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713003,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
713004,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
713005,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
713006,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
713007,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate

In [30]:
nba_df.head()

,GAME_ID,TEAM_ID_x,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME_x,START_POSITION,COMMENT,MIN,...,ABBREVIATION,NICKNAME_y,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs

In [31]:
nba_df.tail()

,GAME_ID,TEAM_ID_x,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME_x,START_POSITION,COMMENT,MIN,...,ABBREVIATION,NICKNAME_y,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
713003,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
713004,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
713005,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
713006,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
713007,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,DEN,Nuggets,1976.0,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate

In [32]:
nba_df.shape

(713008, 43)

In [33]:
nba_df.describe()

,GAME_ID,TEAM_ID_x,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,TO,PF,PTS,PLUS_MINUS,LEAGUE_ID,TEAM_ID_y,MIN_YEAR,MAX_YEAR,YEARFOUNDED,ARENACAPACITY
count,7.130080e+05,7.130080e+05,7.130080e+05,595572.000000,595572.000000,595572.000000,595572.000000,595572.000000,595572.000000,595572.000000,...,595572.000000,595572.000000,595571.000000,570291.000000,686958.0,6.869580e+05,686958.000000,686958.0,686958.000000,609975.000000
mean,2.168985e+07,1.610613e+09,4.022156e+05,3.588597,7.894491,0.416857,0.776538,2.184985,0.200886,1.736358,...,1.321993,1.999938,9.690096,-0.007431,0.0,1.610613e+09,1969.059330,2019.0,1969.059330,18585.200828
std,5.676439e+06,8.492493e+00,6.998920e+06,3.036251,5.686454,0.252020,1.224934,2.566354,0.289629,2.362267,...,1.403810,1.503283,8.099854,10.666577,0.0,8.583901e+00,16.421105,0.0,16.421105,3730.216419
min,1.030000e+07,1.610613e+09,1.500000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-16.000000,0.000000,-57.000000,0.0,1.610613e+09,1946.000000,2019.0,1946.000000,0.000000
25%,2.060117e+07,1.610613e+09,2.449000e+03,1.000000,3.000000,0.267000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,3.000000,-7.000000,0.0,1.610613e+09,1949.000000,2019.0,1949.000000,18624.000000
50%,2.120088e+07,1.610613e+09,2.011710e+05,3.000000,7.000000,0.429000,0.000000,1.000000,0.000000,1.000000,...,1.000000,2.000000,8.000000,0.000000,0.0,1.610613e+09,1970.000000,2019.0,1970.000000,19099.000000
75%,2.180017e+07,1.610613e+09,2.034730e+05,5.000000,11.000000,0.571000,1.000000,4.000000,0.375000,3.000000,...,2.000000,3.000000,14.000000,6.000000,0.0,1.610613e+09,1980.000000,2019.0,1980.000000,19800.000000
max,5.210021e+07,1.610613e+09,1.962938e+09,28.000000,50.000000,1.000000,14.000000,24.000000,1.000000,26.000000,...,12.000000,15.000000,81.000000,57.000000,0.0,1.610613e+09,2002.000000,2019.0,2002.000000,21711.000000

In [34]:
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 713008 entries, 0 to 713007
Data columns (total 43 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   GAME_ID             713008 non-null  int64
 1   TEAM_ID_x           713008 non-null  int64
 2   TEAM_ABBREVIATION   713008 non-null  object
 3   TEAM_CITY           713008 non-null  object
 4   PLAYER_ID           713008 non-null  int64
 5   PLAYER_NAME         713008 non-null  object
 6   NICKNAME_x          62459 non-null   object
 7   START_POSITION      272383 non-null  object
 8   COMMENT             117436 non-null  object
 9   MIN                 595572 non-null  object
 10  FGM                 595572 non-null  float64
 11  FGA                 595572 non-null  float64
 12  FG_PCT              595572 non-null  float64
 13  FG3M                595572 non-null  float64
 14  FG3A                595572 non-null  float64
 15  FG3_PCT             595572 non-null  float64
 16  FTM                 595572 non-null  float64
 17  FTA                 595572 non-null  float64
 18  FT_PCT              595572 non-null  float64
 19  OREB                595572 non-null  float64
 20  DREB                595572 non-null  float64
 21  REB                 595572 non-null  float64
 22  AST                 595572 non-null  float64
 23  STL                 595572 non-null  float64
 24  BLK                 595572 non-null  float64
 25  TO                  595572 non-null  float64
 26  PF                  595572 non-null  float64
 27  PTS                 595571 non-null  float64
 28  PLUS_MINUS          570291 non-null  float64
 29  LEAGUE_ID           686958 non-null  float64
 30  TEAM_ID_y           686958 non-null  float64
 31  MIN_YEAR            686958 non-null  float64
 32  MAX_YEAR            686958 non-null  float64
 33  ABBREVIATION        686958 non-null  object
 34  NICKNAME_y          686958 non-null  object
 35  YEARFOUNDED         686958 non-null  float64
 36  CITY                686958 non-null  object
 37  ARENA               686958 non-null  object
 38  ARENACAPACITY       609975 non-null  float64
 39  OWNER               686958 non-null  object
 40  GENERALMANAGER      686958 non-null  object
 41  HEADCOACH           686958 non-null  object
 42  DLEAGUEAFFILIATION  686958 non-null  object
dtypes: float64(25), int64(3), object(15)
memory usage: 239.4+ MB

In [35]:
nba_df.dtypes

GAME_ID                 int64
TEAM_ID_x               int64
TEAM_ABBREVIATION      object
TEAM_CITY              object
PLAYER_ID               int64
PLAYER_NAME            object
NICKNAME_x             object
START_POSITION         object
COMMENT                object
MIN                    object
FGM                   float64
FGA                   float64
FG_PCT                float64
FG3M                  float64
FG3A                  float64
FG3_PCT               float64
FTM                   float64
FTA                   float64
FT_PCT                float64
OREB                  float64
DREB                  float64
REB                   float64
AST                   float64
STL                   float64
BLK                   float64
TO                    float64
PF                    float64
PTS                   float64
PLUS_MINUS            float64
LEAGUE_ID             float64
TEAM_ID_y             float64
MIN_YEAR              float64
MAX_YEAR              float64
ABBREVIATION           object
NICKNAME_y             object
YEARFOUNDED           float64
CITY                   object
ARENA                  object
ARENACAPACITY         float64
OWNER                  object
GENERALMANAGER         object
HEADCOACH              object
DLEAGUEAFFILIATION     object
dtype: object

In [36]:
nba_df.duplicated().sum()

7684

In [37]:
nba_df.corr()

,GAME_ID,TEAM_ID_x,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,TO,PF,PTS,PLUS_MINUS,LEAGUE_ID,TEAM_ID_y,MIN_YEAR,MAX_YEAR,YEARFOUNDED,ARENACAPACITY
GAME_ID,1.000000,-0.033009,-0.005462,0.033457,0.036849,-0.011281,0.039905,0.051786,0.014494,0.010213,...,-0.019211,0.017868,0.034104,0.001344,NaN,-0.031749,-0.011948,NaN,-0.011948,0.015721
TEAM_ID_x,-0.033009,1.000000,0.005788,-0.005183,-0.002395,-0.000014,-0.017791,-0.021592,-0.005991,-0.001295,...,-0.008316,-0.003422,-0.006956,-0.016253,NaN,0.999636,0.170517,NaN,0.170517,-0.022403
PLAYER_ID,-0.005462,0.005788,1.000000,-0.005845,-0.007148,-0.002367,0.004166,0.005886,0.003153,-0.007803,...,-0.007396,-0.007787,-0.006028,-0.006402,NaN,0.006324,0.002251,NaN,0.002251,0.001461
FGM,0.033457,-0.005183,-0.005845,1.000000,0.885255,0.494683,0.480236,0.444078,0.318643,0.474678,...,0.395778,0.270990,0.960768,0.195630,NaN,-0.005377,-0.003317,NaN,-0.003317,-0.000178
FGA,0.036849,-0.002395,-0.007148,0.885255,1.000000,0.207850,0.459740,0.576759,0.246116,0.512225,...,0.435287,0.276659,0.882594,0.094005,NaN,-0.002767,-0.004353,NaN,-0.004353,-0.000594
FG_PCT,-0.011281,-0.000014,-0.002367,0.494683,0.207850,1.000000,0.209249,0.034563,0.300350,0.137227,...,0.126027,0.175578,0.442531,0.190568,NaN,0.000671,0.000245,NaN,0.000245,-0.002542
FG3M,0.039905,-0.017791,0.004166,0.480236,0.459740,0.209249,1.000000,0.821539,0.720540,0.153565,...,0.164762,0.076533,0.556049,0.157476,NaN,-0.017246,-0.003634,NaN,-0.003634,-0.007034
FG3A,0.051786,-0.021592,0.005886,0.444078,0.576759,0.034563,0.821539,1.000000,0.454198,0.202201,...,0.210590,0.086580,0.516138,0.075945,NaN,-0.021168,-0.003953,NaN,-0.003953,-0.010715
FG3_PCT,0.014494,-0.005991,0.003153,0.318643,0.246116,0.300350,0.720540,0.454198,1.000000,0.077708,...,0.098496,0.035322,0.370519,0.138418,NaN,-0.004701,0.003262,NaN,0.003262,-0.011007
FTM,0.010213,-0.001295,-0.007803,0.474678,0.512225,0.137227,0.153565,0.202201,0.077708,1.000000,...,0.331984,0.200619,0.670734,0.111528,NaN,-0.001531,-0.001612,NaN,-0.001612,0.003783
FTA,0.007402,-0.000344,-0.008163,0.482191,0.509457,0.156223,0.122872,0.164863,0.052030,0.950440,...,0.338959,0.220654,0.657272,0.102300,NaN,-0.000413,-0.003014,NaN,-0.003014,0.000711
FT_PCT,-0.012808,0.004117,-0.006061,0.382500,0.411634,0.159391,0.154909,0.194918,0.096421,0.681579,...,0.251398,0.190596,0.509008,0.096836,NaN,0.003779,0.004849,NaN,0.004849,-0.000611
OREB,0.010778,0.005444,-0.005675,0.273462,0.266691,0.151252,-0.111391,-0.131935,-0.126247,0.192872,...,0.139683,0.232129,0.244425,0.044063,NaN,0.004267,-0.006187,NaN,-0.006187,0.007616
DREB,0.029193,-0.009896,-0.005408,0.448522,0.446864,0.212937,0.092019,0.110159,0.024656,0.325245,...,0.298101,0.284828,0.445032,0.174247,NaN,-0.009441,-0.000414,NaN,-0.000414,-0.006697
REB,0.026821,-0.005448,-0.006446,0.455575,0.451584,0.224877,0.026339,0.032098,-0.031592,0.328182,...,0.285899,0.312795,0.441241,0.152018,NaN,-0.005568,-0.002791,NaN,-0.002791,-0.002108
AST,0.014852,-0.012491,-0.005891,0.404091,0.473737,0.091148,0.252041,0.328827,0.179904,0.311814,...,0.389695,0.133282,0.432003,0.170877,NaN,-0.012853,-0.006860,NaN,-0.006860,0.004143
STL,-0.003751,-0.002266,-0.003253,0.290859,0.325497,0.100117,0.159454,0.205483,0.108927,0.215472,...,0.228387,0.144551,0.305018,0.122191,NaN,-0.002776,-0.006777,NaN,-0.006777,0.004393
BLK,0.013631,0.002999,-0.003205,0.178171,0.147521,0.133487,-0.054406,-0.071807,-0.073085,0.130639,...,0.103310,0.174943,0.163451,0.088178,NaN,0.002974,0.001953,NaN,0.001953,0.001020
TO,-0.019211,-0.008316,-0.007396,0.395778,0.435287,0.126027,0.164762,0.210590,0.098496,0.331984,...,1.000000,0.260395,0.418471,-0.016806,NaN,-0.009539,-0.013862,NaN,-0.013862,-0.005510
PF,0.017868,-0.003422,-0.007787,0.270990,0.276659,0.175578,0.076533,0.086580,0.035322,0.200619,...,0.260395,1.000000,0.273261,0.013301,NaN,-0.004739,-0.011714,NaN,-0.011714,0.002397
PTS,0.034104,-0.006956,-0.006028,0.960768,0.882594,0.442531,0.556049,0.516138,0.370519,0.670734,...,0.418471,0.273261,1.000000,0.202811,NaN,-0.007091,-0.003510,NaN,-0.003510,-0.000090
PLUS_MINUS,0.001344,-0.016253,-0.006402,0.195630,0.094005,0.190568,0.157476,0.075945,0.138418,0.111528,...,-0.016806,0.013301,0.202811,1.000000,NaN,-0.015454,0.004936,NaN,0.004936,0.012987
LEAGUE_ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TEAM_ID_y,-0.031749,0.999636,0.006324,-0.005377,-0.002767,0.000671,-0.017246,-0.021168,-0.004701,-0.001531,...,-0.009539,-0.004739,-0.007091,-0.015454,NaN,1.000000,0.167207,NaN,0.167207,-0.022619
MIN_YEAR,-0.011948,0.170517,0.002251,-0.003317,-0.004353,0.000245,-0.003634,-0.003953,0.003262,-0.001612,...,-0.013862,-0.011714,-0.003510,0.004936,NaN,0.167207,1.000000,NaN,1.000000,-0.251227
MAX_YEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEARFOUNDED,-0.011948,0.170517,0.002251,-0.003317,-0.004353,0.000245,-0.003634,-0.003953,0.003262,-0.001612,...,-0.013862,-0.011714,-0.003510,0.004936,NaN,0.167207,1.000000,NaN,1.000000,-0.251227
ARENACAPACITY,0.015721,-0.022403,0.001461,-0.000178,-0.000594,-0.002542,-0.007034,-0.010715,-0.011007,0.003783,...,-0.005510,0.002397,-0.000090,0.012987,NaN,-0.022619,-0.251227,NaN,-0.251227,1.000000

In [38]:
# Assuming the teams_df dataframe has a column called 'CITY' instead of 'TEAM_CITY'
nba_df = pd.merge(games_df, teams_df, left_on='TEAM_CITY', right_on='CITY', how='left')

In [39]:
nba_df.head()

,GAME_ID,TEAM_ID_x,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME_x,START_POSITION,COMMENT,MIN,...,ABBREVIATION,NICKNAME_y,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs

In [41]:
nba_df.isnull().sum()

GAME_ID                    0
TEAM_ID_x                  0
TEAM_ABBREVIATION          0
TEAM_CITY                  0
PLAYER_ID                  0
PLAYER_NAME                0
NICKNAME_x            650549
START_POSITION        440625
COMMENT               595572
MIN                   117436
FGM                   117436
FGA                   117436
FG_PCT                117436
FG3M                  117436
FG3A                  117436
FG3_PCT               117436
FTM                   117436
FTA                   117436
FT_PCT                117436
OREB                  117436
DREB                  117436
REB                   117436
AST                   117436
STL                   117436
BLK                   117436
TO                    117436
PF                    117436
PTS                   117437
PLUS_MINUS            142717
LEAGUE_ID              26050
TEAM_ID_y              26050
MIN_YEAR               26050
MAX_YEAR               26050
ABBREVIATION           26050
NICKNAME_y             26050
YEARFOUNDED            26050
CITY                   26050
ARENA                  26050
ARENACAPACITY         103033
OWNER                  26050
GENERALMANAGER         26050
HEADCOACH              26050
DLEAGUEAFFILIATION     26050
dtype: int64