<a href="https://colab.research.google.com/github/Amirhatamian/Programming-Project/blob/main/PROJECTasli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# creating netflix_movie dataframe
nba_df = pd.read_csv('games_details.csv')
teams_df = pd.read_csv('teams.csv')

<ipython-input-6-52469dd69a3a>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_df = pd.read_csv('games_details.csv')

In [7]:
nba_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [8]:
nba_df.tail()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
668623,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [9]:
nba_df.shape

(668628, 29)

In [10]:
nba_df.describe()

,GAME_ID,TEAM_ID,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
count,6.686280e+05,6.686280e+05,6.686280e+05,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,...,558938.000000,558938.000000,558938.00000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,535277.000000
mean,2.171771e+07,1.610613e+09,4.013434e+05,3.588446,7.896652,0.416842,0.778117,2.186019,0.201032,1.733217,...,1.024212,3.033798,4.05801,2.103958,0.721436,0.460339,1.320297,1.999538,9.688218,-0.000488
std,5.656289e+06,8.652260e+00,7.225618e+06,3.030466,5.677002,0.251913,1.227615,2.569913,0.289685,2.353981,...,1.397830,2.687384,3.48250,2.475476,0.972231,0.860962,1.402329,1.502963,8.082152,10.665573
min,1.030000e+07,1.610613e+09,1.500000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-57.000000
25%,2.070003e+07,1.610613e+09,2.466000e+03,1.000000,3.000000,0.267000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,-7.000000
50%,2.120096e+07,1.610613e+09,2.011810e+05,3.000000,7.000000,0.429000,0.000000,1.000000,0.000000,1.000000,...,1.000000,2.000000,3.00000,1.000000,0.000000,0.000000,1.000000,2.000000,8.000000,0.000000
75%,2.180014e+07,1.610613e+09,2.034710e+05,5.000000,11.000000,0.571000,1.000000,4.000000,0.400000,3.000000,...,2.000000,4.000000,6.00000,3.000000,1.000000,1.000000,2.000000,3.000000,14.000000,6.000000
max,5.210021e+07,1.610613e+09,1.962938e+09,28.000000,50.000000,1.000000,14.000000,24.000000,1.000000,26.000000,...,18.000000,25.000000,31.00000,25.000000,10.000000,12.000000,12.000000,15.000000,81.000000,57.000000

In [11]:
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668628 entries, 0 to 668627
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            668628 non-null  int64
 1   TEAM_ID            668628 non-null  int64
 2   TEAM_ABBREVIATION  668628 non-null  object
 3   TEAM_CITY          668628 non-null  object
 4   PLAYER_ID          668628 non-null  int64
 5   PLAYER_NAME        668628 non-null  object
 6   NICKNAME           53037 non-null   object
 7   START_POSITION     255765 non-null  object
 8   COMMENT            109689 non-null  object
 9   MIN                558938 non-null  object
 10  FGM                558938 non-null  float64
 11  FGA                558938 non-null  float64
 12  FG_PCT             558938 non-null  float64
 13  FG3M               558938 non-null  float64
 14  FG3A               558938 non-null  float64
 15  FG3_PCT            558938 non-null  float64
 16  FTM                558938 non-null  float64
 17  FTA                558938 non-null  float64
 18  FT_PCT             558938 non-null  float64
 19  OREB               558938 non-null  float64
 20  DREB               558938 non-null  float64
 21  REB                558938 non-null  float64
 22  AST                558938 non-null  float64
 23  STL                558938 non-null  float64
 24  BLK                558938 non-null  float64
 25  TO                 558938 non-null  float64
 26  PF                 558938 non-null  float64
 27  PTS                558938 non-null  float64
 28  PLUS_MINUS         535277 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 147.9+ MB

In [12]:
nba_df.dtypes

GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY             object
PLAYER_ID              int64
PLAYER_NAME           object
NICKNAME              object
START_POSITION        object
COMMENT               object
MIN                   object
FGM                  float64
FGA                  float64
FG_PCT               float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FTA                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
PF                   float64
PTS                  float64
PLUS_MINUS           float64
dtype: object

In [13]:
nba_df.duplicated().sum()

0

In [14]:
nba_df.corr()

,GAME_ID,TEAM_ID,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
GAME_ID,1.000000,-0.034193,-0.004770,0.032073,0.035696,-0.011566,0.040971,0.053392,0.014945,0.009810,...,0.009419,0.028570,0.025827,0.014413,-0.004494,0.012488,-0.019849,0.016284,0.033135,0.000002
TEAM_ID,-0.034193,1.000000,0.005020,-0.004936,-0.002352,-0.000025,-0.020382,-0.024864,-0.007205,-0.000047,...,0.006152,-0.009826,-0.005113,-0.012319,-0.002167,0.003991,-0.007695,-0.002545,-0.006812,-0.016631
PLAYER_ID,-0.004770,0.005020,1.000000,-0.005698,-0.006998,-0.002473,0.003886,0.005461,0.002927,-0.007574,...,-0.005476,-0.005228,-0.006232,-0.005748,-0.003170,-0.003077,-0.007345,-0.007606,-0.005889,-0.006227
FGM,0.032073,-0.004936,-0.005698,1.000000,0.884811,0.495104,0.482553,0.445941,0.321772,0.471759,...,0.270930,0.446704,0.453461,0.403497,0.291612,0.175715,0.394347,0.269982,0.960616,0.196420
FGA,0.035696,-0.002352,-0.006998,0.884811,1.000000,0.207637,0.461507,0.578244,0.248690,0.509445,...,0.264840,0.446311,0.450714,0.473537,0.326079,0.146165,0.434416,0.275989,0.882013,0.094611
FG_PCT,-0.011566,-0.000025,-0.002473,0.495104,0.207637,1.000000,0.209441,0.035260,0.300301,0.136666,...,0.149736,0.210963,0.222899,0.090951,0.100545,0.131458,0.125096,0.174510,0.442903,0.190916
FG3M,0.040971,-0.020382,0.003886,0.482553,0.461507,0.209441,1.000000,0.821939,0.720576,0.154954,...,-0.111142,0.094987,0.028689,0.253522,0.158915,-0.052690,0.165492,0.077458,0.558897,0.158738
FG3A,0.053392,-0.024864,0.005461,0.445941,0.578244,0.035260,0.821939,1.000000,0.454892,0.203229,...,-0.131481,0.113583,0.034875,0.330298,0.204450,-0.069809,0.211504,0.087621,0.518457,0.077268
FG3_PCT,0.014945,-0.007205,0.002927,0.321772,0.248690,0.300301,0.720576,0.454892,1.000000,0.079904,...,-0.126282,0.027021,-0.029836,0.181416,0.108440,-0.071406,0.099213,0.036157,0.374019,0.138653
FTM,0.009810,-0.000047,-0.007574,0.471759,0.509445,0.136666,0.154954,0.203229,0.079904,1.000000,...,0.190581,0.323751,0.326330,0.311785,0.215998,0.129154,0.330792,0.199335,0.668572,0.111948
FTA,0.006611,0.001390,-0.007927,0.479046,0.506872,0.155110,0.124534,0.166303,0.054440,0.950707,...,0.241713,0.359579,0.374501,0.298991,0.220538,0.163816,0.337710,0.219069,0.655059,0.102456
FT_PCT,-0.012734,0.003817,-0.006061,0.381720,0.410796,0.159355,0.155523,0.195098,0.097949,0.682506,...,0.150931,0.255575,0.257805,0.251501,0.182035,0.095822,0.250945,0.190352,0.508664,0.097472
OREB,0.009419,0.006152,-0.005476,0.270930,0.264840,0.149736,-0.111142,-0.131481,-0.126282,0.190581,...,1.000000,0.392898,0.704579,0.003473,0.083093,0.278052,0.137559,0.231538,0.241801,0.043132
DREB,0.028570,-0.009826,-0.005228,0.446704,0.446311,0.210963,0.094987,0.113583,0.027021,0.323751,...,0.392898,1.000000,0.929386,0.217657,0.176405,0.326700,0.295332,0.284075,0.443712,0.175027
REB,0.025827,-0.005113,-0.006232,0.453461,0.450714,0.222899,0.028689,0.034875,-0.029836,0.326330,...,0.704579,0.929386,1.000000,0.169356,0.169481,0.363715,0.283117,0.312152,0.439461,0.152331
AST,0.014413,-0.012319,-0.005748,0.403497,0.473537,0.090951,0.253522,0.330298,0.181416,0.311785,...,0.003473,0.217657,0.169356,1.000000,0.295724,-0.000977,0.389712,0.131939,0.431907,0.170802
STL,-0.004494,-0.002167,-0.003170,0.291612,0.326079,0.100545,0.158915,0.204450,0.108440,0.215998,...,0.083093,0.176405,0.169481,0.295724,1.000000,0.058444,0.229197,0.144556,0.305733,0.122150
BLK,0.012488,0.003991,-0.003077,0.175715,0.146165,0.131458,-0.052690,-0.069809,-0.071406,0.129154,...,0.278052,0.326700,0.363715,-0.000977,0.058444,1.000000,0.101626,0.174259,0.161385,0.088352
TO,-0.019849,-0.007695,-0.007345,0.394347,0.434416,0.125096,0.165492,0.211504,0.099213,0.330792,...,0.137559,0.295332,0.283117,0.389712,0.229197,0.101626,1.000000,0.260275,0.417207,-0.016318
PF,0.016284,-0.002545,-0.007606,0.269982,0.275989,0.174510,0.077458,0.087621,0.036157,0.199335,...,0.231538,0.284075,0.312152,0.131939,0.144556,0.174259,0.260275,1.000000,0.272287,0.012918
PTS,0.033135,-0.006812,-0.005889,0.960616,0.882013,0.442903,0.558897,0.518457,0.374019,0.668572,...,0.241801,0.443712,0.439461,0.431907,0.305733,0.161385,0.417207,0.272287,1.000000,0.203816
PLUS_MINUS,0.000002,-0.016631,-0.006227,0.196420,0.094611,0.190916,0.158738,0.077268,0.138653,0.111948,...,0.043132,0.175027,0.152331,0.170802,0.122150,0.088352,-0.016318,0.012918,0.203816,1.000000

In [15]:
teams_df

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,0,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,0,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,0,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,0,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,0,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,0,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,0,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,0,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,0,1610612752,1946,2019,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,0,1610612753,1989,2019,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,0,1610612754,1976,2019,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,0,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,0,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,0,1610612757,1970,2019,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,0,1610612758,1948,2019,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,0,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,0,1610612760,1967,2019,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,0,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,0,1610612762,1974,2019,UTA,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,0,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,0,1610612764,1961,2019,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,0,1610612765,1948,2019,DET,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,0,1610612766,1988,2019,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,0,1610612739,1970,2019,CLE,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,0,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [16]:
teams_df.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [20]:
teams_df.shape

(30, 14)

In [24]:
teams_df.shape[0]

30

In [25]:
nba_df.head()

,GAME_ID,TEAM_ID_x,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME_x,START_POSITION,COMMENT,MIN,...,ABBREVIATION,NICKNAME_y,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs

In [23]:
# Assuming that the nba_df dataframe has columns 'GAME_ID', 'TEAM_ID', 'PLAYER_ID', 'NICKNAME', and 'COMMENT'
nba_df.drop(['GAME_ID', 'TEAM_ID', 'PLAYER_ID', 'NICKNAME', 'COMMENT'], axis=1, inplace=True)

KeyError: ignored

In [ ]:
nba_df

In [26]:
teams_df.drop(['GAME_ID', 'TEAM_ID_x', 'PLAYER_ID', 'NICKNAME_x', 'COMMENT'], axis=1, inplace=True)

KeyError: ignored

In [ ]:
teams_df

In [17]:
# Assuming the teams_df dataframe has a column called 'CITY' instead of 'TEAM_CITY'
nba_df = pd.merge(nba_df, teams_df, left_on='TEAM_CITY', right_on='CITY', how='left')

In [18]:
nba_df.head()

,GAME_ID,TEAM_ID_x,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME_x,START_POSITION,COMMENT,MIN,...,ABBREVIATION,NICKNAME_y,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs

In [19]:
nba_df.isnull().sum()

GAME_ID                    0
TEAM_ID_x                  0
TEAM_ABBREVIATION          0
TEAM_CITY                  0
PLAYER_ID                  0
PLAYER_NAME                0
NICKNAME_x            650548
START_POSITION        435558
COMMENT               589444
MIN                   115880
FGM                   115880
FGA                   115880
FG_PCT                115880
FG3M                  115880
FG3A                  115880
FG3_PCT               115880
FTM                   115880
FTA                   115880
FT_PCT                115880
OREB                  115880
DREB                  115880
REB                   115880
AST                   115880
STL                   115880
BLK                   115880
TO                    115880
PF                    115880
PTS                   115880
PLUS_MINUS            141160
LEAGUE_ID              25837
TEAM_ID_y              25837
MIN_YEAR               25837
MAX_YEAR               25837
ABBREVIATION           25837
NICKNAME_y             25837
YEARFOUNDED            25837
CITY                   25837
ARENA                  25837
ARENACAPACITY         101867
OWNER                  25837
GENERALMANAGER         25837
HEADCOACH              25837
DLEAGUEAFFILIATION     25837
dtype: int64